/**Quiz_temp**/


.rbtq_start_template1 .rbtq-start-btn , .rbtq_start_template_withbutton .rbtq-start-btn {display: inline-block;  border-radius: 5px; background:#2111e3 ; color: #fff; height: auto; padding: 13px 15px; font-family: 'DM Sans',sans-serif; min-width: 90px; box-shadow: none; margin: 0 0 15px 0; text-decoration: none; line-height: normal; border: none; text-align: center; text-transform: initial; font-size: 22px; font-weight: 600; width :300px; max-width :100%;cursor:pointer}
  
.rbtq_start_template_withbutton , .rbtq_start_template1{display: inline-block; width: 100%; padding: 20px 40px; max-width: 100%; border: 0px solid #ddd; margin: 0; vertical-align: middle; text-align: center; border-radius: 7px; background: inherit; font-family: 'DM Sans',sans-serif; color: #333; font-size: 16px; font-weight: normal; line-height: 1.4; } 
.rbtq_start_template_withbutton .rbtq-Template-content{float: left; width: 100%; }

.rbtq_start_template1, #rbtq_template_wrapper_fe .rbtq_start_template1 {display: inline-block;width: 100%;padding: 20px 40px;max-width: 640px;border: 1px solid #ddd;margin: 0;vertical-align: middle;text-align: left;border-radius: 7px;background: #fff;font-family: 'DM Sans',sans-serif;color: #333;font-size: 16px;font-weight: normal;line-height: 1.4;}
 
.rbtq_start_template1 .rbtq-Template-content{text-align: center;}

.rbtq_start_template1 .rbtq-Template-content , .rbtq-Template-content p {display: inline-block;width: 100%;margin: 0;padding: 0;vertical-align: middle;font-family: 'DM Sans',sans-serif;    text-transform: initial;}

#rbtq_template_wrapper_fe  .rbtq_start_template1 .rbtq-Template-content , #rbtq_template_wrapper_fe  .rbtq-Template-content p  {display: inline-block;width: 100%;margin: 0;padding: 0;vertical-align: middle;font-family: 'DM Sans',sans-serif;    text-transform: initial;}

#rbtq_template_wrapper_fe  .rbtq_start_template1 .rbtq-Template-content, .rbtq_start_template1 .rbtq-Template-content{text-align: center;}

.rbtq-Template-content p, #rbtq_template_wrapper_fe  .rbtq-Template-content p {color: #333;font-size: 16px;font-weight: normal;line-height: 1.4;margin-bottom: 15px;}

.rbtq_start_template1 .rbtq-start-btn , #rbtq_template_wrapper_fe .rbtq_start_template1 .rbtq-start-btn {display: inline-block; display: inline-block; width: 700px; max-width: 100%; border-radius: 8px; background: #2111e3; color: #fff; height: auto; padding: 13px 15px; font-family: 'DM Sans',sans-serif; min-width: 90px; box-shadow: none; margin: 15px 0 15px 0; text-decoration: none; line-height: normal; border: 1px solid #2111e3; text-align: center; text-transform: none; font-size: 22px; font-weight: 600; }

/*.template6_selected .rbtq_start_template1 { width:94%; }*/
